p {
    margin: 7px 0;
}

.jobImg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-top: 20px;
}

.jobContent {
    position: relative;
    top: 285px;
}

.jobName {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 20px;
}

.company, .address {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 20px;
}

.address {
    margin-top: 10px;
    color: var(--color-dark-gray);
}

.jobDetailInfo {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: var(--color-light-gray);
}

.jobDetailInfo p {
    font-weight: 700;
    font-size: 1rem;
}

.jobDetailInfo .infoBox {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.infoBox .number {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    font-size: 1.8rem;
}

.infoBox .text {
    display: inline-block;
    margin-top: 10px;
    color: var(--color-dark-gray);
}

.content {
    margin-top: 20px;
    line-height: 25px;
}