:root {
    --vh: 100%;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-main: #0F0AEF;
    --color-kakao: #FEE500;
    --color-kakao-text: #191603;
    --color-naver: #1FCB53;
    --color-dark-gray: #808080;
    --color-gray: #aeaeae;
    --color-light-gray: #E5E5E5;
    --color-primary: #46D96F;
    --color-red: #FF0000;
    --color-light-red: #FF6F6F;
}

@font-face {
    font-family: 'GimpoBatang00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/GimpoBatang00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}

html,
body,
#root {
    height: 100%;
}

a {
    text-decoration: none;
}

.App {
    width: 100%;
    height: 100%;
    padding: 24px;
    font-family: 'Noto Sans KR';
    box-sizing: border-box;
}

.kakao {
    color: var(--color-kakao-text);
    background-color: var(--color-kakao);
}

.naver {
    color: var(--color-white);
    background-color: var(--color-naver);
}

.primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}


.description {
    margin-top: 20px;
}

.topSmallTxt {
    margin-top: 10px;
    line-height: 24px;
}

button {
    display: inline-flex;
    height: 55px;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 8px;
    text-decoration: none;
    padding: 0px 16px !important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.bottomBtn {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.lgTxt {
    font-size: 2rem;
}

.mTxt {
    font-size: 1.5rem;
}

.sTxt {
    font-size: 1rem;
}

.xsTxt {
    font-size: 0.9rem;
}

.boldTxt {
    font-weight: 700;
}

.mt30 {
    margin-top: 30px;
}

.mb20 {
    margin-bottom: 20px;
}


.bottomNextBtn {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    border-radius: 0;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100%;
}

/*토글 버튼*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggleInput:checked + .slider {
    background-color: var(--color-primary);
}

.toggleInput:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggleInput:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.header {
    padding: 5px 5px 10px 5px;
}

.header .logoText {
    font-family: 'GimpoBatang00';
    font-size: 1.2rem;
    color: var(--color-black) !important;
}

.header .icon {
    float: right;
    font-size: 1.5rem;
}

.roundBtnBox {
    text-align: center;
    margin-top: 20px;
}

.roundBtn {
    width: 100%;
    text-align: center;
    color: var(--color-white);
    font-weight: normal;
    font-size: 1rem;
    border-radius: 30px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5awZuyk-aBRKB0jD7m3vNK3dconhBzjhz6A&usqp=CAU");
}

.bottomButtons {
    width: 100%;
    text-align: center;
}

.bottomButton {
    display: inline-block;
    width: 43%;
    margin: 0 5px;
}

.bottomButton button {
    width: 100%;
    font-size: 1rem;
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.bottomButtons .bottomButton:nth-child(2) button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.statusBox {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.statusBox span {
    padding: 5px 20px;
    background-color: var(--color-light-red);
    font-size: 0.9rem;
    border-radius: 5px;
    color: var(--color-white);
    float: left;
}

.shareButton {
    display: inline-block;
    background-color: var(--color-white);
    border-radius: 50px;
    font-size: 1.5rem;
    z-index: 1000 !important;
    position: absolute;
    top: 100px;
    right: 24px;
    width: 30px;
    height: 28px;
    padding: 12px 10px 10px 9px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shareButton a {
    color: var(--color-primary) !important;
}

.backBtn {
    position: relative;
    top: 3px;
    font-size: 1.2rem;
    right: 10px;
}

.displayNone {
    display: none;
}

.centerText {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}