:root {
    --vh: 100%;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-main: #0F0AEF;
    --color-kakao: #FEE500;
    --color-kakao-text: #191603;
    --color-naver: #1FCB53;
    --color-gray: #aeaeae;
    --color-light-gray: #FAFAFB;
    --color-primary: #46D96F;
    --color-red: #FF0000;
}

@font-face {
    font-family: 'GimpoBatang00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/GimpoBatang00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.App {
    width: 100%;
    height: 100%;
    padding: 24px;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}

.kakao {
    color: var(--color-kakao-text);
    background-color: var(--color-kakao);
}

.naver {
    color: var(--color-white);
    background-color: var(--color-naver);
}

html,
body,
#root {
    height: 100%;
}

button {
    display: inline-flex;
    height: 55px;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 8px;
    text-decoration: none;
    padding: 0px 16px !important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.bottomBtn {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

.lgTxt {
    font-size: 2rem;
}

.mTxt {
    font-size: 1.5rem;
}

.boldTxt {
    font-weight: bolder;
}

.mt30 {
    margin-top: 30px;
}

.bottomNextBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    border-radius: 0;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100%;
}